h1 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  background-color: pink;
  border: 2px solid black; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-align: center;
  margin-left: 600px;
}
